/*
    Author: Eliza Encherman
    Class: Tufts COMP 20
    Assignment: HW 3 Business Website
    Purpose: This is the CSS style page of the site.
*/

/* sets rules for all ul elements of class "topnav", which refers to the navbar */
ul.topnav {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #123456;
    position: sticky;
}

/* 
    sets rules for all list elements in side of ul elements of class "topnav"
    instead of a vertical list, it's a horizontal one that "floats" at the top */
ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20pt;
    color: #FFFFFF;
}

ul.topnav li.right {
    float: right;
}

/*
* main-pages is a class that refers to the links to the main site pages from 
* the home screen.
*/

ul.main-pages {
    margin: auto;
    width: 80%;
    padding: 0;

}


div.main-pages {
    background-color: #fcbd36;
    width: 80%;
    padding-top: 10%;
    min-height: 400px;
    margin: auto;
    border: 2px solid #123456;
}

div.main-pages p, h1, h2 {
    padding: 10px;
    text-align: center;
}

ul.main-pages li {
    list-style-type: none;
    background-color: #fcbd36;
    text-align: center;
    width: 250;
    font-size: 60px;
    display: inline-block;
    margin: 30%;
    top: 40%;
}

ul.main-pages li a {
    border: 6px solid #123456;
    min-height: 90px;
    margin: auto;
    padding: 80px;
}

footer {
    background-color: #123456;
    color: #8888FF;
    height: 30px;
    position: sticky;
    bottom: 0;
}

body {
    background-size: cover;
    background-color: #ff3f99;
}

/* gallery styles the images in art.html and ink.html */
.gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 5 solid #123456;
}

/* desc styles the captions in art.html and ink.html */
div.desc {
    padding: 30px;
    margin-top: auto;
    max-width: 300px;
    text-align: center;
    background-color: #fcbd36;
    font-size: 15pt;
    position: relative;
}

/*makes the nav-bar responsive: below 600 px wide, the nav bar goes vertical */
@media screen and (max-width: 600px) {
    ul.topnav li {
        float: none;
    }
    
    ul.main-pages li {
        min-height: 50;
        padding: 40;
        display: block; 
}
